<div  class="container">
  <tr>
    <th (click)="ordenar()" class="ordenar-tarefa">Jobs
      <i class="bi bi-sort-alpha-down" *ngIf="ascendente()"></i>
      <i class="bi bi-sort-alpha-down-alt" *ngIf="!ascendente()"></i>
    </th>
  </tr>
  <div class="col-12 text-end mb-3">
    <input type="text" placeholder="Pesquisar..." (keyup)="pesquisar($event)">
  </div>
  <mat-card style="width: 80%; margin: auto;">
    <table class="table">
      <thead>
        <tr>
          <th  (click)="ordenar()" class="ordenar-tarefa">Nome
          </th>
          <th  (click)="ordenar()" class="ordenar-tarefa">Usuario
            <i class="bi bi-sort-alpha-down" *ngIf="ascendente()"></i>
            <i class="bi bi-sort-alpha-down-alt" *ngIf="!ascendente()"></i>
          </th>
          <th>Status</th>
          <th>Tipo de Recorrencia</th>
          <th>Data de Criação</th>
          <th class="text-center"> <button type="button" class="btn btn-success btn-sm" [routerLink]="['/jobs']"><i
                class="bi bi-plus-lg"></i> Novo</button></th>
        </tr>
      </thead>
      <tbody>
    <tr  *ngFor="let job of jobs;">
      <td>{{ job.nome}}</td>
      <td>{{ job.idUsuario}}</td>
      <td>{{ job.statusJob}}</td>
      <td>{{ job.tipoRecorrencia}}</td>
      <td>{{ job.data_criacao | date}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/editJob/' + job.id]">
          <i class="bi bi-pencil-fill">Editar</i>
        </button>
      </td>
  
    </tr>
  </tbody>
  </table>
  
   <!-- Paginação -->
   <nav>
    <ul class="pagination justify-content-center">
     <li class ="page-item" [ngClass] = "{disabled: pagina === 0}">
      <a class="page-link" href="#" (click)= "paginar($event, 0)">
        <span aria-hidden="true">&laquo;</span>
      </a>
     </li>
      <li class="page-item" [ngClass] = "{'active': pag === pagina}" *ngFor= "let pag of obterPaginas()">
        <a ng-class="(pag === currentPage) ? 'active': 'sucess'" class="page-link " href="#" (click)= "paginar($event, pag)">{{ pag + 1 }}</a>
      </li>
      <li class="page-item"  [ngClass] = "{disabled: pagina === numeroPaginas() - 1}">
        <a class="page-link" href="#" (click)= "paginar($event, numeroPaginas() - 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
